body {
    background-color:#303030;
    margin: 50px;
}

h1, h2, h3, h4 {
    color: #E3B5A4;
    font-family: "Arial Black", Gadget, sans-serif;
}


p {
    color: gainsboro;
    font-family: Arial, Geneva, Helvetica, sans-serif;
}

.links {
    border-bottom: solid;
    border-width: 1px;
    border-color: white;
}

.petinfo {
    border-left: solid;
    border-width: 1px;
    border-color: white;
    border-spacing:10px;
    margin-left: 2%;
    padding-left: 10px;
}


/* unvisited & visited link */
a:link, a:visited {
    color: orange;
    text-decoration: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.2em;
  }
  
  
  /* mouse over link */
  a:hover {
    color: orangered;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: orange;
    text-decoration: underline;
  }

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate270 {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    margin-left: 60px;
}

img {
    border-radius: 8px;
  }